$base-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;
$base-font-size: 15px;
$base-heading-font-size: 16px;
$big-heading-font-size: 52px;
$input-font-size: 16px;
$button-font-size: 16px;

$white: #fff;
$red-orange: #fd4f32;
$scarlet: #e02404;
$ligth-gray: #eee;
$dove-gray: #6b6b6b;
$gray: #8b8b8b;
$black: #000;
$westar: #e1e0d8;

$base-font-color: $gray;
$base-background-color: $ligth-gray;

$button-text-color: $white;
$button-background-color: $red-orange;
$button-background-color-hover: $scarlet;